.sbl-circ {
    height: 4rem;
    width: 4rem;
    color: #757575;
    position: relative;
    display: inline-block;
    border: 0.3rem solid;
    border-radius: 50%;
    margin:2rem;
    top:40%;
    border-top-color: transparent;
    animation: rotate 1s linear infinite; }
  
  @keyframes rotate {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } }



@media screen and (max-width:49rem){

  .sbl-circ{
    top:0%;
  }

}


  