.img{
    width:7rem;
    height:7rem;
}

.comment{
    display: flex;
    margin: 1.5rem;

}

.header{
    display: flex;
}

.time{
    font-size: 1rem;
    margin-left: 1rem;
    color:#9e9e9e;
}

.body{
    font-size: 1.5rem;
    font-weight: 600;
    color:#3E4551;
}

h2{
    color:#3F729B;
}

